h1 { 
color:black;
background-color:pink;
text-align: center; 
font-size: 40px;
} 
p{
font-size: 25px;
color:pink; 
text-align: center;
font-family: Verdana, sans-serif;
}
body{
  
background-image:url(https://i.pinimg.com/736x/10/a8/aa/10a8aae40de8c1fc1cf26360650c8024.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

