h1 { 
color:black;
background-color:pink;
text-align: center; 
font-size: 40px;
} 
p{
font-size: 25px;
color:pink; 
text-align: center;
font-family: Verdana, sans-serif;
}
body{

color:pink;

background-imgae: url(https://i.pinimg.com/736x/33/af/8e/33af8edf102060f145c7a8b12042436e.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%; 
  
}

