h1 { 
color:black;
background-color:pink;
text-align: center; 
font-size: 40px;
} 
p{
font-size: 25px;
color:pink; 
text-align: center;
font-family: Verdana, sans-serif;
}
body{
  
background-image:url(https://i.pinimg.com/736x/47/b8/73/47b873de68d0409ea53dc90e782750a6.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

